body{
background-color: cadetblue;
 
}

.img{
  width: 39px; 
  border-radius: 1em
}

.img1{
  width:97%; 
}

.li{
  border: 1px solid brown;
  width: 100%;
  margin-left: 1em;
  font-size: 1em;
  padding-left: 0.5em;
  border-radius: 0.7em;
}

.cita{
  color: brown;
  font-style: italic;
  font-size: 1.5em;

}

.select{
  width: 95%;
  margin: 0.3em;
  font-size: 1.3em;
  padding-left: 0.5em;
  border-radius: 0.5em;
}

.select>ol>li{
  margin-left: 1em;
}
.select>.a {
  text-decoration: none;
  color: brown;
  font-size: 1.5em;
}

.lat{
  text-decoration: none;
  color: white;
}

.summary{
  font-size: 1.5em;
  margin-left: 1em;
}

.laboris:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}