<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="/src/assets/image/home/CERVERA.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../../style.css" />
    <title>ELEMENTOS RÁPIDOS</title>
  </head>
  <body>
    <h1></h1>
    <section id="1">
      <h2 class="subtitulo"></h2>
      <!-- /////////////////////////////////////// -->
      <ol>
        <li class="li">
          <details class="select">
            <summary></summary>
            <p>
              <br />
              <br />
            </p>
          </details>
        </li>
        <!-- ++++++++++++++++++++++++++++++ -->
        <li class="li">
          <details class="select">
            <summary></summary>
            <p>
              <br />
              <br />
            </p>
          </details>
        </li>
        <!-- ++++++++++++++++++++++++++++++ -->
        <li class="li">
          <details class="select">
            <summary></summary>
            <p>
              <br />
              <br />
            </p>
          </details>
        </li>
        <!-- ++++++++++++++++++++++++++++++ -->
        <li class="li">
          <details class="select">
            <summary></summary>
            <p>
              <br />
              <br />
            </p>
          </details>
        </li>
        <!-- ++++++++++++++++++++++++++++++ -->
        <li class="li">
          <details class="select">
            <summary></summary>
            <p>
              <br />
              <br />
            </p>
          </details>
        </li>
        <!-- ++++++++++++++++++++++++++++++ -->
        <li class="li">
          <details class="select">
            <summary></summary>
            <p>
              <br />
              <br />
            </p>
          </details>
        </li>
        <!-- ++++++++++++++++++++++++++++++ -->
      </ol>
      <!-- ////////////////////////////////// -->
    </section>
  </body>
</html>
